*, *::after, *::before {
   box-sizing: border-box;
}
img {
   width: 100%;
}
body {
   font-family: Arial, Helvetica, sans-serif;
   color: #732104;
}
.container {
   width: 90%;
   margin: 5%;
}
@media screen and (min-width: 576px) {
   .container {
      width: unset;
      margin: unset;
      max-width: 1200px;
      margin-inline: auto;
   }
}
/* HEADER */
.header {
   padding: 2rem;
   border-radius: 90px;
   background-color: #fef7e2;
}
.menu {
   display: flex;
   flex-wrap: wrap;
   gap: 15px;
   list-style-type: none;
}
.menu li{
   background-color: #fddf7f;
   border-radius: 30px;
   width: 47%;
   text-align: center;
   font-size: 0.9rem;
}
.menu li a {
   display: block;
   text-decoration: none;
   padding: 1rem;
   color: #732104;
   font-weight: 700;
}
.menu li:first-of-type {
   width: 100%;
   font-size: 1.3rem;
   text-transform: uppercase;
   border-radius: 45px;
}
.menu li:first-of-type a {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 1.5rem;
}
.menu li:first-of-type a img {
   margin-right: 1rem;
}
@media screen and (min-width: 576px) {
   .header {
      border-radius: unset;
   }
   .menu {
      align-items: center;
      justify-content: center;
   }
   .menu li,
   .menu li:first-of-type {
      width: unset;
   }
   .menu li:first-of-type{
      order: 1;
   }
   .menu li:nth-last-of-type(1),
   .menu li:nth-last-of-type(2){
      order: 2;
   }
}


/* PRODUCTS */
h1 {
   text-align: center;
   font-weight: 700;
   font-size: 2rem;
   width: 65%;
   margin-inline: auto;
   margin-block: 2rem;
}
.container-products {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 25px;
   margin-bottom: 3rem;
}
.card {
   border-radius: 45px;
   width: 100%;
   background-color: #fef7e2;
   display: flex;
   flex-direction: column;
   text-align: center;
}
.card .card-img {
   border-radius: 45px 45px 0 0;
   background-image: url(../imgs/honey.jpg);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   min-height: 150px;
}
.card .card-txt {
   padding: 1rem;
   display: flex;
   align-items: center;
   justify-content: space-around;
}
.card-txt-title p {
   font-weight: 700;
}
.card-txt-title span {
   font-size: 0.8rem;
}
.btn-card {
   display: inline-block;
   background-color: #fddf7f;
   color: #732104;
   padding: 0.5rem 3rem;
   border-radius: 30px;
   font-weight: 700;
   text-decoration: none;
   margin-bottom: 1rem;
}
@media screen and (min-width: 576px) {
   h1 {
      text-align-last: left;
      width: unset;
      margin-inline: 1rem;
   }
   .container-products {
      margin-inline: 1rem;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
   }
   .card {
      width: 48%;
   }

}

/* News */
h2 {
   text-align: center;
   font-weight: 700;
   font-size: 1.5rem;
   margin-bottom: 1rem;
}
.container-news {
   background-color: #fef7e2;
   border-radius: 45px;
   padding: 2rem;
}
.container-news h3 {
   font-size: 1.3rem;
   font-weight: 700;
   margin-bottom: 1rem;
}
.container-news p {
   line-height: 1.5;
   margin-bottom: 1.5rem;
}
@media screen and (min-width: 576px) {
   h2 {
      text-align-last: left;
      margin-inline: 1rem;
   }
   .container-news {
      margin-inline: 1rem;
   }
}